.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.row-heading {
  text-align: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

img {
  width: 100%;
  height: 100%;
}

.retail-card {
  display: block;
  padding: 0.5rem;
}
