* {
  font-family: monospace;
}

.container {
  text-align: center;
  margin-top: 20%;
}

.right {
  color: chartreuse;
}

.wrong {
  color: maroon;
}

.letter.underline {
  text-decoration: underline;
}
