* {
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

.heading {
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.item-box {
  display: flex;
}

.buttonContainer {
  display: flex;
  flex-wrap: end;
  float: right;
}

button {
  background-color: white;
  color: #f44336;
  border: 2px solid #f44336;
}
