* {
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
}

.container {
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  text-align: center;
  position: relative;
}

.column-full {
  width: 100%;
  justify-content: center;
  flex-basis: auto;
  background: rgba(0, 0, 0, 0.5);
}

.column-half {
  position: relative;
}

h1 {
  letter-spacing: 0.1rem;
}

h3 {
  font-size: 0.6rem;
  top: 0;
}

h3.square-1 {
  position: absolute;
  left: 200px;
}

p.column-full-description {
  font-size: 0.7rem;
  text-align: center;
  line-height: middle;
  margin: 0 290px 0 290px;
}

img.img-left {
  position: absolute;
  left: 200px;
}
